pipeline/appendactivity.json
{
	"name": "appendactivity",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "a",
					"value": "90"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "output",
					"value": {
						"value": "@variables('a')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"a": {
				"type": "Array",
				"defaultValue": [
					10,
					20,
					30
				]
			},
			"output": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-09T09:39:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}